{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="container my-5">
	<div class="row">
		<h2 class="">Ações:</h2>
		<hr>
	</div>
	<div class="row">
		<div class="col">
			<a href="/pages">
			<div class="square_action d-flex justify-content-center align-items-center">
			<div class="text-center"><i class="mdi mdi-page-previous-outline"></i><br>
			<span>Páginas</span></div>
			</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}